h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	color: #4C5666;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	display: inline;
	font-size: 12pt;
	letter-spacing: .07rem;
}

h2 {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30pt;
	font-weight: 100;
}

h3 {
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	letter-spacing: .05rem;
}

h4 {
	color: #748194;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 12pt;
	letter-spacing: .07rem;
}

h5 {
	color: #4C5666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: 100;
	letter-spacing: .07rem;
}

body {
	background-color: #EDF2F6;
}

.card-container {
	width: 475px;
	margin: 50px auto 0 auto;
}

.card {
	background-color: #FFFFFF;
	border-radius: 0.66em;
	box-shadow: 5px 5px 5px #E6E9ED;
}

.property-photo img {
	max-width: 475px;
	border-top-left-radius: 0.66em;
	border-top-right-radius: 0.66em;
}

.property {
	border-bottom: 1px solid #E6E9ED;
	background-color: #FFFFFF;
	padding: 1.25em;
}

.property-type, .bullet, .age {
	color: #4C5666;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	display: inline;
	font-size: 12pt;
	letter-spacing: .07rem;
}


.price {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30pt;
	font-weight: 100;
	padding: 14px 0 14px 0;
	text-transform: capitalize;
}

.realtor-name {
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	letter-spacing: .05rem;
	display: inline;
	margin: 0 0 px 0;
	text-transform: capitalize;
}


.room-count {
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	letter-spacing: .05rem;
	margin: 0 5px 0 16px;
	display: inline;
}

.room-type {
	display: inline;
	flex: 1;
	text-transform: capitalize;
}

.rooms {
	padding: 1.25em;
	background-color: #FFFFFF;
	border-bottom: 1px solid #E6E9ED;
}

.room {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 8px 10px 8px 0;
}

.icon {
	width: 30px;
}

.learn-more-container {
	padding: 25px 0px 15px 0px;
}

.full-listing {
	color:#ffffff;
	background-color: #4C5666;
	font-size: 14pt;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 0.66em;
	font-weight: 100;
	font-family: sans-serif, Arial, Helvetica;
	letter-spacing: .07rem;
	box-shadow: 5px 5px 5px #E6E9ED;
	text-transform: capitalize;
}

.footer {
	background-color: #F7FAFC;
	padding: 1.25em;
	border-bottom-left-radius: 0.66em;
	border-bottom-right-radius: 0.66em;
}

.realtor {
	color: #748194;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 12pt;
	letter-spacing: .07rem;
	padding: 0 0 14px 0;
}

.address, .realtor-phone {
	color: #4C5666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: 100;
	letter-spacing: .07rem;
	text-transform: capitalize;
}

.realtor-phone {
	margin: 5px 0 5px 0;
}